{% extends 'base.html.twig' %}
{% block title %}
    {{ 'menu.admin.user'|trans }}
{% endblock %}
{% block main %}    
    {% include 'admin/user/form_filter.html.twig' %}                 
    {% if is_granted('ROLE_ADMIN') %}        
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('app_admin_user_new') }}" role="button" class="new-modal" >
                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>{{ 'action.new'|trans }}</button>
                </a>
            </div>
        </div>
    {% endif %}
    {% if (entities is not empty) %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr> 
                {% include 'columnHeader.html.twig' with {'columnName' : 'user.id'} %}
				{% include 'columnHeader.html.twig' with {'columnName' : 'user.username'} %}
				{% include 'columnHeader.html.twig' with {'columnName' : 'user.email'} %}
                {% include 'columnHeader.html.twig' with {'columnName' : 'user.firstname'} %}
                {% include 'columnHeader.html.twig' with {'columnName' : 'user.lastname'} %}
                <th>{{'user.roles'|trans}}</th>
				{% include 'columnHeader.html.twig' with {'columnName' : 'user.lastLogin', 'transName': 'user.last_login'} %}
                {% include 'columnHeader.html.twig' with {'columnName' : 'user.enabled'} %}
                 <th><i class="fa fa-cogs"></i> </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
				<td>{{ entity.id }}</td>
				<td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{% if (entity.roles|length > 0) %} 
                    <ul>
                    {% for role in entity.roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}</td>
                <td>{% if entity.lastLogin != null %}{{ entity.lastLogin | date }}<br/>{{ entity.lastLogin | date("H:i:s") }}{% endif %}</td>
                <td>{% if (entity.enabled) %} 
                    <a href="{{ path('app_admin_user_disable', {'id': entity.id}) }}" data-id="{{ entity.id }}" role="button" class="edit-modal">
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>{{ 'action.disable'|trans }}</button>
                    </a>
                    {% else %}
                    <a href="{{ path('app_admin_user_enable', {'id': entity.id}) }}" data-id="{{ entity.id }}" role="button" class="edit-modal">
                        <button type="button" class="btn btn-sm btn-success"><i class="fa fa-check-circle"></i>{{ 'action.enable'|trans }}</button>
                    </a>    
                    {% endif %} </td>
                <td>
                    <a href="{{ path('app_admin_user_edit', {'id': entity.id}) }}" data-id="{{ entity.id }}" role="button" class="edit-modal" ><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>{{ 'action.edit'|trans }}</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
         
    <div class="navigation text-center">
        {{ knp_pagination_render(entities) }}
    </div>
    {% else %}
        {{ 'noresult'|trans|raw }}
    {% endif %}
    
{% endblock %}
