{% set sizeMain = 'col-sm-9' %}
{% set sizeSidebar = 'col-sm-3' %}
{% extends app.request.isxmlhttprequest ? "modal.html.twig" : "base.html.twig" %}

{% block title %}
    {{'label.editing'|trans}} {{ entity.name }}
{% endblock %}

{% block main %}
    <form method="post" id="editform" action="{{ path(edit_route, {'id': entity.id}) }}" class="" >
            <div class="modal-body" id="modal-body">
                {% include form_template %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>{{ 'action.save'|trans }}</button>
                <a href="{{ path(index_route) }}" role="button"><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>{{ 'action.cancel'|trans }}</button></a>
            </div>
    </form>
{% endblock %}

{% block sidebar %}
    {{ include('default/_form.html.twig', {
        form: delete_form,
        button_label: 'action.delete'|trans,
        button_css: 'btn btn-lg btn-block btn-danger',
        show_confirmation: true,
    }, with_context = false) }}
{% endblock %}
