{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block sidebar %}{% endblock %}
{% block main %}
    {% if not app.user %}
    {% if error %}
        <div class="col-sm-offset-3 col-sm-6 alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="well">
                <form action="{{ path('fos_user_security_check') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock"></i> {{ 'login.title'|trans }}</legend>
                        <div class="form-group">
                            <label for="username">{{ 'login.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in"></i> {{ 'login.action.signIn'|trans }}
                        </button>
                    </fieldset>
                </form>
            </div>
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'login.action.resetPassword'|trans }}</a>
        </div>
    </div>
    {% endif %}
{% endblock %}



