{% extends 'base.html.twig' %}
{% block title %}{{ 'changepassword.changepassword'|trans }} {% endblock %}
{% block main %}
{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}
{% endblock %}
