{% extends 'base.html.twig' %}
{% block title %}{{ 'registration.confirmed.title'|trans }} {% endblock %}
{% block main %}
{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({},'FOSUserBundle') }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
{% endblock %}
