<form action="{{ path('fos_user_registration_registermonitor') }}" method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
