{% extends 'base.html.twig' %}
{% block title %}{{ 'parentregister.registration'|trans }} {% endblock %}
{% block main %}
{% block fos_user_content %}
{{ 'parent.registration.intro'|trans|raw }}
{% include "FOSUserBundle:Registration:parent_register_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}
