{% extends "base.html.twig" %}
{% block title %} {{ 'profile.reset.password'|trans }}{% endblock %}
{% block main %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
{% endblock %}
{% block sidebar %}{% endblock %}