{% extends "base.html.twig" %}
{% block title %} {{ 'profile.reset.password'|trans }}{% endblock %}
{# pour demander un nouveau password #}
{% block main %}
{% block fos_user_content %}


<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
   
        {% if invalid_username is defined %}
         <div class="form-group">
            <p class="bg-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
         </div>
        {% endif %}
     <div class="form-group">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div class="form-group">
        <button class="btn btn-default" type="submit" value="{{ 'profile.reset.password'|trans }}">{{ 'profile.reset.password'|trans }}</button>
    </div>
</form>
{% endblock fos_user_content %}
{% endblock %}
{% block sidebar %}{% endblock %}