{% extends 'base.html.twig' %}
{% block title %}{{ 'profile.edit'|trans }} {% endblock %}
{% block main %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock %}

{% block customjavascripts %}
<script type="text/javascript">      
    $(document).ready(function() {        
         handleFormPrototypeAsTableRow('teacherWorkingHours', 'teacherWorkingHour',"{{ 'action.addTeacherWorkingHour'|trans }}","{{ 'action.deleteTeacherWorkingHour'|trans }}");
     });
</script>    
{% endblock %}   
