{% extends 'base.html.twig' %}

{% block title %}
    {{ 'back-office.welcome' | trans }}
{% endblock %}
{% block main %}
        <div>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
				<div class="row" style="text-align:center;">
					<div class="col-sm-6">
						<div class="jumbotron  alert-success">
							<p>
								{{ 'help.administration'|trans|raw }}
							</p>
							<p>
								<a class="btn btn-primary btn-lg" href="{{ path('app_admin_user_index') }}">
									<i class="fa fa-users"></i> {{ 'menu.admin.user'|trans }}
								</a>
							</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="jumbotron alert-success">
							<p>
								{{ 'help.my_account'|trans|raw }}
							</p>
							<p>
								<a class="btn btn-primary btn-lg" href="{{ path('fos_user_profile_show') }}">
									<i class="fa fa-lock"></i> {{ 'profile.show'|trans }}
								</a>
							</p>
						</div>
					</div>
				</div>
                {% else %}
				<div class="row" style="text-align:center;">
					<div class="col-sm-6">
						<div class="jumbotron  alert-success">
							<p>
								{{ 'help.target_site'|trans|raw }}
							</p>
							<p>
								<a class="btn btn-primary btn-lg" href="http://google.lu" target="_blank">
									<i class="fa fa-users"></i> {{ 'target.show'|trans }}
								</a>
							</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="jumbotron alert-success">
							<p>
								{{ 'help.my_account'|trans|raw }}
							</p>
							<p>
								<a class="btn btn-primary btn-lg" href="{{ path('fos_user_profile_show') }}">
									<i class="fa fa-lock"></i> {{ 'profile.show'|trans }}
								</a>
							</p>
						</div>
					</div>
				</div>
                {% endif %}
            {% endif %}

        </div>
{% endblock %}
