
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'delete_modal.title'|trans }}</h4>
                </div>
            
                <div class="modal-body">
                <p>{{ 'delete_modal.body'|trans }}</p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'label.cancel'|trans }}</button>
                    <a class="btn btn-danger btn-ok">{{ 'label.delete'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
