<header>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    {{ 'application.title'|trans }}
                </a>

                <button type="button" class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
			
                <ul class="nav navbar-nav navbar-right">
				{% if app.user %}
                    <li>
					<a href="{{ path('fos_user_security_logout') }}">{{ 'logout' | trans }}</a>
                    </li>
					
				{% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- HEADER Fragment rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->

