{% extends 'base.html.twig' %}

{% block body %}
        <div>
            <div id="welcome">
                <h1>{{ 'user.edit.title' | trans }}</h1>
            </div>


            {{ form(form) }}

        </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
