{% set time_format = "H:i" %}
<div class="modal fade {{ wide|default('') }}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
                <h4 class="modal-title" > {% block title %} TITLE {% endblock %}</h4>
            </div>
            <div class="modal-body">
            {% block main %}

            {% endblock %}
            </div>
        </div>
    </div>
</div>


{% block customjavascripts %}
{% endblock %}      