{% extends 'base.html.twig' %}
{% block title %}{{ 'changepassword.changepassword'|trans }} {% endblock %}
{% block main %}
{% block fos_user_content %}
<div class="row">
    <div class="col-md-offset-2 col-lg-6">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}

    {{ form_rest(form) }}
    <div class="form-group"><input class="btn btn-default" type="submit" value="{{'action.save'|trans}}"></div>
{{ form_end(form) }}
    </div>
</div>
{% endblock fos_user_content %}
{% endblock %}
