{% extends app.request.isxmlhttprequest ? "modal.html.twig" : "base.html.twig" %}

{% block title %}
    {{ title|trans }}
{% endblock %}

{% block main %}
    <form method="post" id="addform" action="{{ path(new_route) }}" class="" >
            <div class="modal-body" id="modal-body">
                {% include form_template %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>{{ 'action.save'|trans }}</button>
                <a href="{{ path(index_route) }}" role="button"><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>{{ 'action.cancel'|trans }}</button></a>
            </div>
    </form>
{% endblock %}