{% extends 'base.html.twig' %}
{% block title %}{{ 'monitorregister.registration'|trans }} {% endblock %}
{% block main %}
{% block fos_user_content %}
{% include "FOSUserBundle:Registration:monitor_register_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}
