{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
     <div class="modal-body" id="modal-body">
         {% set edit_form = form %}
                {% include 'admin/user/form.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>{{ 'action.save'|trans({},'messages') }}</button>
                <a href="{{ path('homepage') }}" role="button"><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>{{ 'action.cancel'|trans({},'messages') }}</button></a>
            </div>
{{ form_end(form) }}