{% extends "base.html.twig" %}
{% block title %} {{ 'profile.reset.password'|trans }}{% endblock %}
{# pour saisir un nouveau password #}
{% block main %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset  form-horizontal' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" value="{{ 'profile.reset.password'|trans }}" class="btn btn-default"></
    </div>
{{ form_end(form) }}
{% trans_default_domain 'AppBundle' %}
{% endblock fos_user_content %}
{% endblock %}

{% block sidebar %}{% endblock %}